.ssr-carousel-back-button,
.ssr-carousel-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ssr-carousel-back-button {
  left: 2%;
}
.ssr-carousel-next-button {
  right: 2%;
}
.ssr-carousel-back-icon,
.ssr-carousel-next-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s;
}
[disabled] > .ssr-carousel-back-icon,
[disabled] > .ssr-carousel-next-icon {
  opacity: 0.1;
  cursor: default;
}
:not([disabled]) > .ssr-carousel-back-icon,
:not([disabled]) > .ssr-carousel-next-icon {
  opacity: 0.5;
}
@media (hover: hover) {
:not([disabled]) > .ssr-carousel-back-icon:hover,
  :not([disabled]) > .ssr-carousel-next-icon:hover {
    opacity: 0.85;
}
}
:not([disabled]) > .ssr-carousel-back-icon:active,
:not([disabled]) > .ssr-carousel-next-icon:active {
  opacity: 1;
}
:not([disabled]) > .ssr-carousel-back-icon.active,
:not([disabled]) > .ssr-carousel-next-icon.active {
  opacity: 1;
}
.ssr-carousel-back-icon:before,
.ssr-carousel-next-icon:before {
  content: '';
  position: relative;
}
.ssr-carousel-back-icon:before {
  width: 0;
  height: 0;
  background: 0;
  border-style: solid;
  border-width: 9px 12px 9px 0;
  border-color: transparent #fff transparent transparent;
  left: -2px;
}
.ssr-carousel-next-icon:before {
  width: 0;
  height: 0;
  background: 0;
  border-style: solid;
  border-width: 9px 0 9px 12px;
  border-color: transparent transparent transparent #fff;
  left: 2px;
}

.ssr-carousel-dot-button {
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ssr-carousel-dots {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.ssr-carousel-dot-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  border: 2px solid rgba(0,0,0,0.7);
  margin-left: 4px;
  margin-right: 4px;
  transition: opacity 0.2s;
}
[disabled] > .ssr-carousel-dot-icon {
  opacity: 1;
  background: rgba(0,0,0,0.7);
  cursor: default;
}
:not([disabled]) > .ssr-carousel-dot-icon {
  opacity: 0.5;
}
@media (hover: hover) {
:not([disabled]) > .ssr-carousel-dot-icon:hover {
    opacity: 0.85;
}
}
:not([disabled]) > .ssr-carousel-dot-icon:active {
  opacity: 1;
}
:not([disabled]) > .ssr-carousel-dot-icon.active {
  opacity: 1;
}

.ssr-carousel-track {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ssr-carousel-track.dragging {
  pointer-events: none;
}
.ssr-carousel-slide {
  flex-shrink: 0;
}

.ssr-carousel {
  touch-action: pan-y;
}
.ssr-carousel-slides {
  position: relative;
}
.ssr-peek-values {
  position: absolute;
}
.ssr-carousel-mask {
  overflow: hidden;
  position: relative;
}
.ssr-carousel-mask:not(.disabled) {
  cursor: -webkit-grab;
  cursor: grab;
}
.ssr-carousel-mask:not(.disabled).pressing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.ssr-carousel-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

