body
	background primary-background

	// Default font styling
	fluid-font 'body', body-font-size, body-font-size-min, primary-color

	// Disable outline on touch
	-webkit-tap-highlight-color rgba(0,0,0,0)

// Adjust list styling
ul, ol
	padding-left 1.2em

// Give all buttons a cursor style
button
	button()

	// Reset styles
	letter-spacing inherit
	border none
	padding 0

// Change the default outline style
:focus
	outline 2px solid primary-color
	outline-offset 4px
