// Clear button styles
resetButton()
	display inline-block
	appearance none
	background none
	color inherit
	border none
	padding 0
	cursor pointer
	user-select none
	-webkit-tap-highlight-color rgba(0,0,0,0)
